<div class="w-full h-full bg-gray-100 p-10">

  <div class="flex items-center justify-center mb-5">
    <a routerLink='add' class="flex items-center justify-center gap-x-1 rounded-2xl bg-customBlue text-white py-3 px-3">
      <img src="./assets/icons/plus.png" alt="Add" class="h-5 w-5">
      <span class="text-white">&nbsp;</span>
      Add Travel
    </a>
  </div>

  <div class="shadow-xl bg-white p-5 rounded-xl">
    <div class="flex justify-between items-center mb-5">
      <div><h1 class="font-bold text-black text-xl">Travel List</h1></div>
      <div class="flex gap-3 mx-3">
        <div>
          <button
            type="button"
            class="btn text-white px-3 py-2 rounded-lg shadow-xl border border-gray-300 "
            [ngClass]="{'text-white bg-lime-700': displayType === 'list' }"
            (click)="displayType = 'list'"
          >
            <i class="pi pi-bars"></i>
          </button>
        </div>
        <div>
          <button
            type="button"
            class="btn text-white px-3 py-2 rounded-lg shadow-xl border border-gray-300"
            [ngClass]="{'text-white bg-lime-700': displayType === 'grid' }"
            (click)="displayType = 'grid'"
          >
            <i class="pi pi-th-large"></i>
          </button>
        </div>
      </div>

    </div>


    <div class="datatable" *ngIf="displayType === 'list'">
      <ng-datatable
        [rows]="rows"
        [columns]="cols"
        [columnFilter]="true"
        skin="whitespace-nowrap table-hover"
        [hasCheckbox]="true"
        sortColumn="name"
        (rowSelect)="onRowSelect($event)"
        [search]="search"
        firstArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
        lastArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
        previousArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
        nextArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
      >
        <ng-template slot="dob" let-value="data"> {{ formatDate(value.dob) }} </ng-template>
        <ng-template slot="actions" let-row="data">
          <div class="flex items-center justify-between gap-x-4">
            <a type="button" class="text-customBlueSideBar"
               [routerLink]="['details', row.id]"
            >
              <i class="pi pi-eye"></i>
            </a>
            <button type="button" class="text-customBlueSideBar" (click)="cloneTravel(row)">
              <i class="pi pi-copy"></i>
            </button>
            <button type="button" class="text-customBlue" (click)="updateTravel(row)">
              <i class="pi pi-pencil"></i>
            </button>
            <button type="button" class="text-red-500" (click)="removeTravel(row)">
              <i class="pi pi-trash"></i>
            </button>
          </div>
        </ng-template>
      </ng-datatable>
    </div>



    <ng-container *ngIf="displayType === 'grid'">
      <div class="grid w-full grid-cols-1 gap-8 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-3">
        <ng-container *ngFor="let travel of rows">
          <div class="bg-gray-100 py-3 shadow-md rounded-lg overflow-hidden transition-transform transform hover:scale-105">
            <div *ngIf="travel.imagesUrl" class="flex justify-center items-center">
              <img  [src]="travel.imagesUrl[0]" alt="{{travel.title}}"
                   class="w-[80%] rounded-xl object-cover" />
            </div>
            <div class="p-4">
              <h2 class="text-xl font-semibold mb-5 text-center">{{travel.title}}</h2>
              <h2 class="text-xl font-semibold mb-2">
                <i class="pi pi-map-marker mr-2"></i>
                {{travel.destination}}
              </h2>
              <p class="text-gray-800">
                Guide: {{travel.travelGuide.firstName}} {{travel.travelGuide.lastName}}
              </p>
              <p class="text-gray-800">
                Start Date: {{travel.startDate}}
              </p>
              <p class="text-gray-800">
                End Date: {{travel.endDate}}
              </p>
              <p class="text-gray-800">
                Status: {{travel.travelState}}
              </p>

            </div>
            <div class="flex justify-end">
              <a class="px-5 py-3 rounded-3xl text-white bg-customBlue mr-2" [routerLink]="['details', travel.id]">View Details</a>
            </div>
          </div>
        </ng-container>
      </div>

    </ng-container>
  </div>



  <p-dialog header="Update Travel" [(visible)]="displayDialog" [modal]="true" [style]="{width: '800px'}" (onHide)="onDialogHide()">
    <ng-template pTemplate="header">
      Update Travel
    </ng-template>
    <ng-template pTemplate="content">
      <form [formGroup]="updateTravelForm" (ngSubmit)="onSave()" class="space-y-4">


        <div formGroupName="travelDetails" >

          <!-- Title and Destination -->
          <div class="flex flex-wrap -mx-3 mb-4">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Title</label>
              <input id="title" type="text" formControlName="title" placeholder="Title"
                     class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" />
              <div *ngIf="updateTravelForm.get('travelDetails.title')?.touched && updateTravelForm.get('travelDetails.title')?.invalid" class="text-red-500 text-xs mt-2">
                Title is required.
              </div>
            </div>

            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label for="travelState" class="block text-gray-700 text-sm font-bold mb-2">Transport</label>
              <div class="relative">
                <select id="travelState" formControlName="travelState"
                        class="shadow appearance-none border rounded-2xl bg-white w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10">
                  <option>Select Travel States</option>
                  <option *ngFor="let travelState of travelStates" [value]="travelState">{{ travelState }}</option>
                </select>
                <div *ngIf="updateTravelForm.get('travelDetails.travelState')?.touched && updateTravelForm.get('travelDetails.travelState')?.invalid" class="text-red-500 text-xs mt-2">
                  Please select a Travel State.
                </div>
              </div>

            </div>
          </div>

          <!-- Status and Date -->
          <div class="flex flex-wrap -mx-3 mb-4">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label for="destination" class="block text-gray-700 text-sm font-bold mb-2">Destination</label>
              <input id="destination" type="text" formControlName="destination" placeholder="destination"
                     class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" />
              <div *ngIf="updateTravelForm.get('travelDetails.destination')?.touched && updateTravelForm.get('travelDetails.destination')?.invalid" class="text-red-500 text-xs mt-2">
                Status is required.
              </div>
            </div>

            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label for="travelGuideId" class="block text-gray-700 text-sm font-bold mb-2">Travel Guide</label>
              <div class="relative">
                <select id="travelGuideId" formControlName="travelGuideId"
                        class="shadow appearance-none border rounded-2xl bg-white w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10">
                  <option>Select Travel Guide</option>
                  <option *ngFor="let guide of guides" [value]="guide.id">{{ guide.firstName }} {{guide.lastName}}</option>
                </select>
                <div *ngIf="updateTravelForm.get('travelDetails.travelGuideId')?.touched && updateTravelForm.get('travelDetails.travelGuideId')?.invalid" class="text-red-500 text-xs mt-2">
                  Please select a guide.
                </div>
              </div>
            </div>

          </div>


          <div class="flex flex-wrap -mx-3 mb-4">
            <div class="w-full md:w-1/2 px-3">
              <label for="startDate" class="block text-gray-700 text-sm font-bold mb-2">StartDate</label>
              <input id="startDate" type="date" formControlName="startDate"
                     class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" />
              <div *ngIf="updateTravelForm.get('travelDetails.startDate')?.touched && updateTravelForm.get('travelDetails.startDate')?.invalid" class="text-red-500 text-xs mt-2">
                Date is required.
              </div>
            </div>

            <div class="w-full md:w-1/2 px-3">
              <label for="endDate" class="block text-gray-700 text-sm font-bold mb-2">EndDate</label>
              <input id="endDate" type="date" formControlName="endDate"
                     class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" />
              <div *ngIf="updateTravelForm.get('travelDetails.endDate')?.touched && updateTravelForm.get('travelDetails.endDate')?.invalid" class="text-red-500 text-xs mt-2">
                Date is required.
              </div>
            </div>
          </div>


          <div class="flex flex-wrap -mx-3 mb-4">
            <div class="w-full md:w-1/2 px-3">
              <label for="transportType" class="block text-gray-700 text-sm font-bold mb-2">Transport</label>
              <div class="relative">
                <select id="transportType" formControlName="transportType"
                        class="shadow appearance-none border rounded-2xl bg-white w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10">
                  <option>select transport type</option>
                  <option *ngFor="let transportType of travelTransportTypes" [value]="transportType">{{ transportType }}</option>
                </select>
                <div *ngIf="updateTravelForm.get('travelDetails.transportType')?.touched && updateTravelForm.get('travelDetails.transportType')?.invalid" class="text-red-500 text-xs mt-2">
                  Please select a transportType.
                </div>
              </div>
            </div>

            <div class="w-full md:w-1/2 px-3">
              <label for="transportCompany" class="block text-gray-700 text-sm font-bold mb-2">transportCompany</label>
              <input id="transportCompany" type="text" formControlName="transportCompany" placeholder="Transport Company"
                     class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" />
              <div *ngIf="updateTravelForm.get('travelDetails.transportCompany')?.touched && updateTravelForm.get('travelDetails.transportCompany')?.invalid" class="text-red-500 text-xs mt-2">
                transportCompany is required.
              </div>
            </div>
          </div>


          <div class="flex flex-wrap -mx-3 mb-4">
            <div class="w-full md:w-1/2 px-3">
              <label for="maxSeat" class="block text-gray-700 text-sm font-bold mb-2">Max Seat</label>
              <input id="maxSeat" type="number" formControlName="maxSeat" placeholder="maxSeat"
                     class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" />
              <div *ngIf="updateTravelForm.get('travelDetails.maxSeat')?.touched && updateTravelForm.get('travelDetails.maxSeat')?.invalid" class="text-red-500 text-xs mt-2">
                maxSeat is required.
              </div>
            </div>

            <div class="w-full md:w-1/2 px-3">
              <label for="basedPrice" class="block text-gray-700 text-sm font-bold mb-2">basedPrice</label>
              <input id="basedPrice" type="number" formControlName="basedPrice" placeholder="basedPrice"
                     class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" />
              <div *ngIf="updateTravelForm.get('travelDetails.basedPrice')?.touched && updateTravelForm.get('travelDetails.basedPrice')?.invalid" class="text-red-500 text-xs mt-2">
                basedPrice is required.
              </div>
            </div>
          </div>


          <!-- Short Description -->
          <div class="mb-4">
            <label for="shortDescription" class="block text-gray-700 text-sm font-bold mb-2">Short Description</label>
            <textarea id="shortDescription" formControlName="shortDescription" placeholder="Short Description"
                      class="shadow appearance-none border rounded-xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline min-h-[120px]"></textarea>
            <div *ngIf="updateTravelForm.get('travelDetails.shortDescription')?.touched && updateTravelForm.get('travelDetails.shortDescription')?.invalid" class="text-red-500 text-xs mt-2">
              Short description is required and must be at least 10 characters long.
            </div>
          </div>

          <!-- Long Description -->
          <div class="mb-4">
            <label for="longDescription" class="block text-gray-700 text-sm font-bold mb-2">Long Description</label>
            <textarea id="longDescription" formControlName="longDescription" placeholder="Long Description"
                      class="shadow appearance-none border rounded-xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline min-h-[120px]"></textarea>
            <div *ngIf="updateTravelForm.get('travelDetails.longDescription')?.touched && updateTravelForm.get('travelDetails.longDescription')?.invalid" class="text-red-500 text-xs mt-2">
              Long description is required and must be at least 20 characters long.
            </div>
          </div>


          <!-- pack section -->
          <!-- Button to add a pack -->
          <div class="flex justify-end items-center py-3">
            <p (click)="addPack()" class="text-customBlue text-xl cursor-pointer flex items-center">
              <span class="mr-3">Add Pack</span> <i class="pi pi-plus mr-2"></i>
            </p>
          </div>

          <!-- Packs FormArray -->
          <div formArrayName="packs" class="space-y-4">
            <div *ngFor="let pack of packsFormArray.controls; let i = index" [formGroupName]="i" class="flex items-center space-x-2">
              <input type="text" formControlName="name" placeholder="Pack Name"
                     class="shadow appearance-none border rounded-2xl w-1/3 bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none">
              <input type="number" formControlName="additionalPrice" placeholder="Pack Price"
                     class="shadow appearance-none border rounded-2xl w-1/3 bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none">
              <button type="button" (click)="removePack(i)" class="bg-red-500 text-white p-2 rounded-2xl px-3 hover:bg-red-600">Remove</button>
            </div>
          </div>

        <!-- Images section -->
        <!-- Images Upload -->
        <div class="flex justify-end items-center py-3">
          <p (click)="addImage()" class="text-customBlue text-xl cursor-pointer flex items-center">
            <span class="mr-3">Add Image</span> <i class="pi pi-plus mr-2"></i>
          </p>
        </div>

        <!-- Images Preview with Remove Option -->
        <div formArrayName="imagesFile" class="space-y-4" *ngIf="imagePreviews.length > 0">
          <div *ngFor="let image of imagesFormArray.controls; let i = index" [formGroupName]="i" class="flex items-center space-x-2">
            <input type="file" (change)="onFileChange($event, i)" class="border border-gray-300 p-2 rounded-md">
            <img *ngIf="imagePreviews[i]" [src]="imagePreviews[i]" alt="Image Preview" class="w-32 h-32 object-cover rounded-md border">
            <button type="button" (click)="removeImage(i)" class="bg-red-500 text-white p-2 rounded-md hover:bg-red-600">Remove</button>
          </div>
        </div>

        </div>


        <div formGroupName="travelDayTripsDetails">

          <div>
            <!-- Button to Add DayTrip -->
            <div class="flex justify-end items-center pt-3">
              <p (click)="addDayTrip()" class="text-customBlue text-xl cursor-pointer flex items-center">
                <span class="mr-3">Add DayTrip</span> <i class="pi pi-plus mr-2"></i>
              </p>
            </div>

            <!-- DayTrips FormArray -->
            <div formArrayName="dayTrips" class="space-y-4">
              <div *ngFor="let dayTrip of dayTripsFormArray.controls; let i = index" [formGroupName]="i">
                <div class="flex flex-wrap items-end gap-4">

                  <!-- DayTrip Select Dropdown -->
                  <div class="flex-1">
                    <label for="dayTripId-{{i}}" class="text-lg font-medium mb-1">DayTrip</label>
                    <select id="dayTripId-{{i}}" formControlName="dayTripId"
                            class="shadow appearance-none border rounded-2xl bg-white w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10">
                      <option value="">Select a DayTrip</option>
                      <option *ngFor="let dayTrip of dayTripList" [value]="dayTrip.id">{{ dayTrip.title }}</option>
                    </select>
                    <div *ngIf="dayTrip.get('dayTrips.dayTripId')?.touched && dayTrip.get('dayTrips.dayTripId')?.invalid" class="text-red-500 text-xs mt-2">
                      Please select a day trip.
                    </div>
                  </div>

                  <!-- DayTrip Date Input -->
                  <div class="flex-1">
                    <label for="dayTripDate-{{i}}" class="text-lg font-medium mb-1">DayTrip Date</label>
                    <input id="dayTripDate-{{i}}" type="date" formControlName="dayTripDate"
                           class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none">
                    <div *ngIf="dayTrip.get('dayTrips.dayTripDate')?.touched && dayTrip.get('dayTrips.dayTripDate')?.invalid" class="text-red-500 text-xs mt-2">
                      Please select a date.
                    </div>
                  </div>

                  <!-- Remove DayTrip Button -->
                  <button type="button" (click)="removeDayTrip(i)" class="bg-red-500 text-white p-2 rounded-2xl px-3 hover:bg-red-600">Remove</button>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Buttons -->
        <div class="pt-7 flex items-center justify-end space-x-4">
          <button type="button" class="btn btn-outline-danger text-red-500 border border-red-500 px-4 py-3 rounded-xl hover:bg-red-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-red-500" (click)="onCancel()">
            Cancel
          </button>
          <button *ngIf="!clone" type="submit" class="btn btn-primary bg-blue-500 text-white px-4 py-3 rounded-xl hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
            update
          </button>
          <button *ngIf="clone" type="submit" class="btn btn-primary bg-blue-500 text-white px-4 py-3 rounded-xl hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
            Clone
          </button>
        </div>
      </form>
    </ng-template>
  </p-dialog>







</div>



