<div class="w-full h-full bg-gray-100 p-10">

  <div class="flex items-center justify-center mb-5">
    <a routerLink='add' class="flex items-center justify-center gap-x-1 rounded-2xl bg-customBlue text-white py-3 px-3">
      <img src="./assets/icons/plus.png" alt="Add" class="h-5 w-5">
      <span class="text-white">&nbsp;</span>
      Add Companion
    </a>
  </div>

  <div class="shadow-xl bg-white p-5 rounded-xl">

    <div class="flex justify-between items-center mb-5">
      <div><h1 class="font-bold text-black text-xl">Companion List</h1></div>
      <div class="flex gap-3 mx-3">
        <div>
          <button
            type="button"
            class="btn text-white px-3 py-2 rounded-lg shadow-xl border border-gray-300 "
            [ngClass]="{'text-white bg-lime-700': displayType === 'list' }"
            (click)="displayType = 'list'"
          >
            <i class="pi pi-bars"></i>
          </button>
        </div>
        <div>
          <button
            type="button"
            class="btn text-white px-3 py-2 rounded-lg shadow-xl border border-gray-300"
            [ngClass]="{'text-white bg-lime-700': displayType === 'grid' }"
            (click)="displayType = 'grid'"
          >
            <i class="pi pi-th-large"></i>
          </button>
        </div>
      </div>

    </div>


    <div class="datatable" *ngIf="displayType === 'list'">
      <ng-datatable
        [rows]="rows"
        [columns]="cols"
        [columnFilter]="true"
        skin="whitespace-nowrap table-hover"
        [hasCheckbox]="true"
        sortColumn="name"
        (rowSelect)="onRowSelect($event)"
        [search]="search"
        firstArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
        lastArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
        previousArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
        nextArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
      >
        <ng-template slot="dob" let-value="data"> {{ formatDate(value.dob) }} </ng-template>
        <ng-template slot="actions" let-row="data">
          <div class="flex items-center justify-between gap-x-4">
            <button type="button" class="text-customBlue" (click)="updateCompanion(row)">
              <i class="pi pi-pencil"></i>
            </button>
            <button type="button" class="text-red-500" (click)="removeCompanion(row)">
              <i class="pi pi-trash"></i>
            </button>
          </div>
        </ng-template>
      </ng-datatable>
    </div>



    <ng-container *ngIf="displayType === 'grid'">
      <div class="grid w-full grid-cols-1 gap-8 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-3">
        <ng-container *ngFor="let companion of rows">
          <div class="bg-gray-100 py-3 shadow-md rounded-lg overflow-hidden transition-transform transform hover:scale-105">
            <div class="flex justify-center items-center">
              <img [src]="companion.imageUrl" alt="{{companion.firstName}}" class="w-1/2 rounded-full object-cover" />
            </div>
            <div class="p-4">
              <h2 class="text-xl font-semibold mb-5 text-center">{{companion.firstName}} {{companion.lastName}}</h2>
              <h2 class="text-xl font-semibold mb-2">
                <i class="pi pi-phone mr-2"></i>
                {{companion.phone}}
              </h2>
              <p class="text-gray-800">
                <i class="pi pi-map-marker mr-2"></i>
                {{companion.country}}
              </p>
              <p class="text-gray-800">
                <i class="pi pi-user mr-2"></i>
                {{companion.client.userName}}
              </p>

            </div>
          </div>
        </ng-container>
      </div>

    </ng-container>
  </div>



  <p-dialog header="Update Client" [(visible)]="displayDialog" [modal]="true" [style]="{width: '800px'}">
    <ng-template pTemplate="header">
      Update Companion
    </ng-template>
    <ng-template pTemplate="content">
      <form [formGroup]="companionForm" (ngSubmit)="onSave()" class="space-y-4">

        <div *ngIf="selectedImageUrl" class="mt-4 flex justify-center">
          <img [src]="selectedImageUrl" alt="Selected Image" class="w-32 h-32 rounded-full border border-gray-300" />
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

          <div class="mb-3">
            <label for="clientId" class="block text-gray-700 text-sm font-bold">Client</label>
            <div class="relative">
              <select id="clientId" formControlName="clientId"
                      class="shadow appearance-none border rounded-2xl bg-white w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10">
                <option selected> Select Payment Type </option>
                <option *ngFor="let client of clients" [value]="client.id">{{ client.firstName }} {{ client.lastName }}</option>
              </select>
              <div *ngIf="companionForm.get('clientId')?.touched && companionForm.get('clientId')?.invalid" class="text-red-500 text-xs mt-2">
                Please select a Client.
              </div>
            </div>
          </div>

          <!-- Companion Type Dropdown -->

          <div class="mb-3">

            <label for="companionType" class="block text-gray-700 text-sm font-bold">Companion Type</label>
            <select id="companionType" formControlName="companionType"
                    class="shadow appearance-none border rounded-2xl bg-white w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10">
              <option value="" disabled>Select Companion Type</option>
              <option *ngFor="let type of companionType" [value]="type">{{ type }}</option>
            </select>
            <div *ngIf="companionForm.get('companionType')?.touched && companionForm.get('companionType')?.invalid" class="text-red-500 text-xs mt-2">
              Please select a Companion Type.
            </div>
          </div>


        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">


          <div class="mb-3">
            <label for="firstName" class="block text-sm font-medium text-gray-700">First Name</label>
            <input id="firstName" type="text" formControlName="firstName"
                   class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" placeholder="Enter First Name" />
            <div *ngIf="companionForm.controls['firstName'].invalid && (companionForm.controls['firstName'].dirty || companionForm.controls['firstName'].touched)" class="text-red-600 text-sm">
              First name is required and must be at least 2 characters.
            </div>
          </div>


          <div class="mb-3">
            <label for="lastName" class="block text-sm font-medium text-gray-700">Last Name</label>
            <input id="lastName" type="text" formControlName="lastName"
                   class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" placeholder="Enter Last Name" />
            <div *ngIf="companionForm.controls['lastName'].invalid && (companionForm.controls['lastName'].dirty || companionForm.controls['lastName'].touched)" class="text-red-600 text-sm">
              Last name is required and must be at least 2 characters.
            </div>
          </div>


        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div class="mb-3">
            <label for="cin" class="block text-sm font-medium text-gray-700">CIN</label>
            <input id="cin" type="text" formControlName="cin"
                   class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" placeholder="Enter CIN" />
            <div *ngIf="companionForm.controls['cin'].invalid && (companionForm.controls['cin'].dirty || companionForm.controls['cin'].touched)" class="text-red-600 text-sm">
              CIN is required and must be between 6 and 10 characters.
            </div>
          </div>

          <div class="mb-3">
            <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
            <input id="country" type="text" formControlName="country"
                   class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" placeholder="Enter Country" />
            <div *ngIf="companionForm.controls['country'].invalid && (companionForm.controls['country'].dirty || companionForm.controls['country'].touched)" class="text-red-600 text-sm">
              Country is required.
            </div>
          </div>

        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div class="mb-3">
            <label for="phone" class="block text-sm font-medium text-gray-700">Phone</label>
            <input id="phone" type="text" formControlName="phone"
                   class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" placeholder="Enter Phone Number" />
            <div *ngIf="companionForm.controls['phone'].invalid && (companionForm.controls['phone'].dirty || companionForm.controls['phone'].touched)" class="text-red-600 text-sm">
              Phone number is required and must be 10 digits.
            </div>
          </div>

          <div class="mb-3">
            <label for="imageFile" class="block text-sm font-medium text-gray-700">Profile Image</label>
            <input id="imageFile" type="file" (change)="onFileSelected($event)"
                   class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" />
          </div>
        </div>

        <div formGroupName="passport">
          <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
            <div class="mb-8">
              <label for="passportNumber" class="block text-sm font-medium text-gray-700">Passport Number</label>
              <input id="passportNumber" type="text" formControlName="passportNumber"
                     class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" placeholder="Enter Passport Number" />
              <div *ngIf="companionForm.get('passport.passportNumber')?.invalid && (companionForm.get('passport.passportNumber')?.dirty || companionForm.get('passport.passportNumber')?.touched)" class="text-red-600 text-sm">
                Passport number is required.
              </div>
            </div>

            <div class="mb-8">
              <label for="issueDate" class="block text-sm font-medium text-gray-700">Issue Date</label>
              <input id="issueDate" type="date" formControlName="issueDate"
                     class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" />
              <div *ngIf="companionForm.get('passport.issueDate')?.invalid && (companionForm.get('passport.issueDate')?.dirty || companionForm.get('passport.issueDate')?.touched)" class="text-red-600 text-sm">
                Issue date is required.
              </div>
            </div>

            <div class="mb-8">
              <label for="expiryDate" class="block text-sm font-medium text-gray-700">Expiry Date</label>
              <input id="expiryDate" type="date" formControlName="expiryDate"
                     class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" />
              <div *ngIf="companionForm.get('passport.expiryDate')?.invalid && (companionForm.get('passport.expiryDate')?.dirty || companionForm.get('passport.expiryDate')?.touched)" class="text-red-600 text-sm">
                Expiry date is required.
              </div>
            </div>
          </div>
        </div>

        <div class="mt-8 flex items-center justify-end space-x-4">
          <button
            type="button"
            class="btn btn-outline-danger text-red-500 border border-red-500 px-4 py-3 rounded-xl hover:bg-red-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-red-500"
            (click)="onCancel()"
          >
            Cancel
          </button>
          <button
            type="submit"
            [disabled]="!companionForm.valid"
            class="btn btn-primary bg-blue-500 text-white px-4 py-3 rounded-xl hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            Update
          </button>
        </div>
      </form>
    </ng-template>

  </p-dialog>


</div>



