<div *ngIf="isLoading" class="fixed inset-0 flex justify-center items-center bg-gray-100 bg-opacity-5 z-50">
  <div class="screen_loader z-[60] grid place-content-center">
    <!-- Bouncing Dots Loader -->
    <div class="flex items-center space-x-2">
      <div class="w-4 h-4 bg-blue-500 rounded-full animate-bounce"></div>
      <div class="w-4 h-4 bg-blue-500 rounded-full animate-bounce200"></div>
      <div class="w-4 h-4 bg-blue-500 rounded-full animate-bounce400"></div>
    </div>
  </div>
</div>
