<div class="w-full h-full bg-gray-100 p-10">

  <div class="flex items-center justify-center mb-5">
    <a routerLink='add' class="flex items-center justify-center gap-x-1 rounded-2xl bg-customBlue text-white py-3 px-3">
      <img src="./assets/icons/plus.png" alt="Add" class="h-5 w-5">
      <span class="text-white">&nbsp;</span>
      Add Reservation
    </a>
  </div>

  <div class="shadow-xl bg-white p-5 rounded-xl">
    <div class="flex justify-between items-center mb-5">
      <div><h1 class="font-bold text-black text-xl">Reservation List</h1></div>
    </div>


    <div class="datatable">
      <ng-datatable
        [rows]="rows"
        [columns]="cols"
        [columnFilter]="true"
        skin="whitespace-nowrap table-hover"
        [hasCheckbox]="true"
        sortColumn="name"
        (rowSelect)="onRowSelect($event)"
        [search]="search"
        firstArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
        lastArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
        previousArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
        nextArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
      >
        <ng-template slot="dob" let-value="data"> {{ formatDate(value.dob) }} </ng-template>
        <ng-template slot="actions" let-row="data">
          <div class="flex items-center justify-between gap-x-4">
            <a type="button" class="text-customBlueSideBar"
               [routerLink]="['details', row.id]"
            >
              <i class="pi pi-eye"></i>
            </a>
            <button type="button" class="text-customBlue" (click)="updateReservation(row)">
              <i class="pi pi-pencil"></i>
            </button>
            <button type="button" class="text-red-500" (click)="removeReservation(row)">
              <i class="pi pi-trash"></i>
            </button>
          </div>
        </ng-template>
      </ng-datatable>
    </div>

  </div>



  <p-dialog header="Update DayTrip" [(visible)]="displayDialog" [modal]="true" [style]="{width: '800px'}" (onHide)="onDialogHide()">
    <ng-template pTemplate="header">
      Update Reservation
    </ng-template>
    <ng-template pTemplate="content">

      <form [formGroup]="updateReservationForm" (ngSubmit)="onSave()" class="space-y-4 mx-10">

        <div class="flex flex-wrap -mx-3 mb-4">

          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="paymentType" class="block text-gray-700 text-sm font-bold mb-2">Payment Type</label>
            <div class="relative">
              <select id="paymentType" formControlName="paymentType"
                      class="shadow appearance-none border rounded-2xl bg-white w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10">
                <option selected disabled> Select Payment Type </option>
                <option *ngFor="let paymentType of reservationPaymentType" [value]="paymentType">{{ paymentType }}</option>
              </select>
              <div *ngIf="updateReservationForm.get('paymentType')?.touched && updateReservationForm.get('paymentType')?.invalid" class="text-red-500 text-xs mt-2">
                Please select a Payment Type.
              </div>
            </div>
          </div>

          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="paymentStatus" class="block text-gray-700 text-sm font-bold mb-2">Payment Status</label>
            <div class="relative">
              <select id="paymentStatus" formControlName="paymentStatus"
                      class="shadow appearance-none border rounded-2xl bg-white w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10">
                <option selected disabled> Select Payment Status </option>
                <option *ngFor="let paymentStatus of reservationPaymentStatus" [value]="paymentStatus">{{ paymentStatus }}</option>
              </select>
              <div *ngIf="updateReservationForm.get('paymentStatus')?.touched && updateReservationForm.get('paymentStatus')?.invalid" class="text-red-500 text-xs mt-2">
                Please select a Payment Status.
              </div>
            </div>
          </div>

        </div>

        <div class="flex flex-wrap -mx-3 mb-4">

          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="travelId" class="block text-gray-700 text-sm font-bold mb-2">Travel</label>
            <div class="relative">
              <select id="travelId" formControlName="travelId"
                      class="shadow appearance-none border rounded-2xl bg-white w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10">
                <option selected disabled> Select Travel </option>
                <option *ngFor="let travel of travels" [value]="travel.id">{{ travel.title }}</option>
              </select>
              <div *ngIf="updateReservationForm.get('travelId')?.touched && updateReservationForm.get('travelId')?.invalid" class="text-red-500 text-xs mt-2">
                Please select a Travel.
              </div>
            </div>
          </div>

          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="packName" class="block text-gray-700 text-sm font-bold mb-2">Travel Pack</label>
            <div class="relative">
              <select id="packName" formControlName="packName"
                      class="shadow appearance-none border rounded-2xl bg-white w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10">
                <option selected disabled> Select Pack </option>
                <option *ngFor="let pack of travelPacks" [value]="pack.name">{{ pack.name }}</option>
              </select>
              <div *ngIf="updateReservationForm.get('packName')?.touched && updateReservationForm.get('packName')?.invalid" class="text-red-500 text-xs mt-2">
                Please select a Pack.
              </div>
            </div>
          </div>

        </div>

        <div class="flex flex-wrap -mx-3 mb-4">

          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="hotelId" class="block text-gray-700 text-sm font-bold mb-2">Hotel</label>
            <div class="relative">
              <select id="hotelId" formControlName="hotelId"
                      class="shadow appearance-none border rounded-2xl bg-white w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10">
                <option selected disabled> Select Hotel </option>
                <option *ngFor="let hotel of hotels" [value]="hotel.id">{{ hotel.name }}</option>
              </select>
              <div *ngIf="updateReservationForm.get('hotelId')?.touched && updateReservationForm.get('hotelId')?.invalid" class="text-red-500 text-xs mt-2">
                Please select a Hotel.
              </div>
            </div>
          </div>

          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="hosting" class="block text-gray-700 text-sm font-bold mb-2">Hosting</label>
            <input id="hosting" type="text" formControlName="hosting" placeholder="Hosting"
                   class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" />
            <div *ngIf="updateReservationForm.get('hosting')?.touched && updateReservationForm.get('hosting')?.invalid" class="text-red-500 text-xs mt-2">
              Please enter Hosting details.
            </div>
          </div>

        </div>

        <div class="flex flex-wrap -mx-3 mb-4">

          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="clientId" class="block text-gray-700 text-sm font-bold mb-2">Client</label>
            <div class="relative">
              <select id="clientId" formControlName="clientId"
                      class="shadow appearance-none border rounded-2xl bg-white w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10">
                <option selected disabled> Select Client </option>
                <option *ngFor="let client of clients" [value]="client.id">{{ client.firstName }} {{ client.lastName }}</option>
              </select>
              <div *ngIf="updateReservationForm.get('clientId')?.touched && updateReservationForm.get('clientId')?.invalid" class="text-red-500 text-xs mt-2">
                Please select a Client.
              </div>
            </div>
          </div>

          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="Discount" class="block text-gray-700 text-sm font-bold mb-2">Discount</label>
            <div class="flex gap-x-5">
              <!-- Disable input until addDiscount() is called -->
              <input [disabled]="!discount" id="Discount" type="number" formControlName="discount" placeholder="Discount"
                     class="shadow appearance-none border rounded-2xl w-full bg-white py-3 px-3 text-gray-700 leading-tight focus:outline-none" />

              <button *ngIf="!discount" type="button" class="text-white w-1/2 px-5 bg-customBlue rounded-3xl" (click)="addDiscount()">Enable Discount</button>
              <button *ngIf="discount" type="button" class="text-white w-1/2 px-5 bg-customBlue rounded-3xl" (click)="removeDiscount()">Disable Discount</button>

            </div>

            <div *ngIf="updateReservationForm.get('discount')?.touched && updateReservationForm.get('discount')?.invalid" class="text-red-500 text-xs mt-2">
              Please add a Discount.
            </div>
          </div>

        </div>


        <!-- Companions Section -->
        <!-- Add Companion Button -->
        <div class="flex justify-end items-center pt-3">
          <p (click)="addCompanion()" class="text-customBlue text-xl cursor-pointer flex items-center">
            <span class="mr-3">Add Companion</span> <i class="pi pi-plus mr-2"></i>
          </p>
        </div>

        <!-- Companions Section -->
        <div formArrayName="companions">
          <div *ngFor="let companionGroup of companionsFormArray.controls; let i = index" [formGroupName]="i" class="mb-4">
            <div class="flex flex-wrap items-end gap-4">
              <!-- Companion Select (Displays all clients) -->
              <div class="flex-1">
                <label for="companion" class="block text-gray-700 text-sm font-bold mt-4">Companion</label>
                <div class="relative flex items-center">
                  <select id="companion" formControlName="companionId" class="shadow appearance-none border rounded-2xl bg-white w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10">
                    <option value="" disabled>Select Companion</option>
                    <option *ngFor="let companion of companions" [value]="companion.id">
                      {{ companion.firstName }} {{ companion.lastName }}
                    </option>
                  </select>
                </div>
              </div>

              <!-- Remove Companion Button -->
              <button type="button" (click)="removeCompanion(i)" class="bg-red-500 text-white p-2 rounded-2xl px-3 hover:bg-red-600">
                Remove
              </button>

              <!-- Create New Companion Button -->
              <button type="button" (click)="openNewClientModal()" class="bg-customBlue text-white p-2 rounded-2xl px-3">
                Create New Companion
              </button>
            </div>
          </div>
        </div>


        <div class="pt-7 flex items-center justify-end space-x-4">
          <button type="button" class="btn btn-outline-danger text-red-500 border border-red-500 px-4 py-3 rounded-xl hover:bg-red-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-red-500" (click)="onCancel()">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary bg-blue-500 text-white px-4 py-3 rounded-xl hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
            update
          </button>
        </div>

      </form>


    </ng-template>
  </p-dialog>







</div>



