@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS for RTL (Arabic) */
.rtl {
  direction: rtl;
  text-align: right;
}

/* Global CSS for LTR (English) */
.ltr {
  direction: ltr;
  text-align: left;
}
